pipeline/pl_copy_latest_file.json
{
	"name": "pl_copy_latest_file",
	"properties": {
		"activities": [
			{
				"name": "Getfolder_names",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "ds_get_folder_names",
						"type": "DatasetReference"
					},
					"fieldList": [
						"childItems",
						"lastModified"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "ForEachfolder",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Getfolder_names",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Getfolder_names').output.childItems",
						"type": "Expression"
					},
					"isSequential": false,
					"activities": [
						{
							"name": "Execute_child_pl_copy_latest_file",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"policy": {
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "pl_child_copy_latest_file",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"Folder_Name": {
										"value": "@item().name",
										"type": "Expression"
									}
								}
							}
						}
					]
				}
			}
		],
		"folder": {
			"name": "copy_latest_files"
		},
		"annotations": [],
		"lastPublishTime": "2024-09-25T18:10:44Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}