pipeline/pl_child_copy_latest_file.json
{
	"name": "pl_child_copy_latest_file",
	"properties": {
		"activities": [
			{
				"name": "GetFileNames",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "ds_get_file_names",
						"type": "DatasetReference",
						"parameters": {
							"Folder_name": {
								"value": "@pipeline().parameters.Folder_Name",
								"type": "Expression"
							}
						}
					},
					"fieldList": [
						"childItems",
						"lastModified"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "BinaryReadSettings"
					}
				}
			},
			{
				"name": "ForEachFileName",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "GetFileNames",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('GetFileNames').output.childItems",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "GetFileDetails",
							"type": "GetMetadata",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"dataset": {
									"referenceName": "ds_get_file_details",
									"type": "DatasetReference",
									"parameters": {
										"Folder_Name": {
											"value": "@pipeline().parameters.Folder_Name",
											"type": "Expression"
										},
										"File_Name": {
											"value": "@item().name",
											"type": "Expression"
										}
									}
								},
								"fieldList": [
									"itemName",
									"lastModified"
								],
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							}
						},
						{
							"name": "If Condition1",
							"type": "IfCondition",
							"dependsOn": [
								{
									"activity": "GetFileDetails",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"expression": {
									"value": "@greater(activity('GetFileDetails').output.lastModified,variables('RefDateTime') )",
									"type": "Expression"
								},
								"ifTrueActivities": [
									{
										"name": "Set variable1",
										"type": "SetVariable",
										"dependsOn": [],
										"policy": {
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"variableName": "RefDateTime",
											"value": {
												"value": "@activity('GetFileDetails').output.lastModified",
												"type": "Expression"
											}
										}
									},
									{
										"name": "Set variable2",
										"type": "SetVariable",
										"dependsOn": [
											{
												"activity": "Set variable1",
												"dependencyConditions": [
													"Succeeded"
												]
											}
										],
										"policy": {
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"variableName": "LatestFile",
											"value": {
												"value": "@activity('GetFileDetails').output.itemName",
												"type": "Expression"
											}
										}
									}
								]
							}
						},
						{
							"name": "CopyLatestFiles",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "If Condition1",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "BinarySource",
									"storeSettings": {
										"type": "AzureBlobFSReadSettings",
										"recursive": true
									},
									"formatSettings": {
										"type": "BinaryReadSettings"
									}
								},
								"sink": {
									"type": "BinarySink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									}
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "ds_src_latest_file_copy",
									"type": "DatasetReference",
									"parameters": {
										"Folder_Name": {
											"value": "@pipeline().parameters.Folder_Name",
											"type": "Expression"
										},
										"File_Name": {
											"value": "@variables('LatestFile')",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "ds_sink_latest_modified_file",
									"type": "DatasetReference",
									"parameters": {
										"Folder_Name": {
											"value": "@pipeline().parameters.Folder_Name",
											"type": "Expression"
										},
										"File_Name": {
											"value": "@variables('LatestFile')",
											"type": "Expression"
										}
									}
								}
							]
						}
					]
				}
			}
		],
		"parameters": {
			"Folder_Name": {
				"type": "string"
			}
		},
		"variables": {
			"LatestFile": {
				"type": "String"
			},
			"RefDateTime": {
				"type": "String",
				"defaultValue": "1900-01-01 00:00:00"
			}
		},
		"folder": {
			"name": "copy_latest_files"
		},
		"annotations": [],
		"lastPublishTime": "2024-09-25T18:10:44Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}