pipeline/pl_e2e_DT_child.json
{
	"name": "pl_e2e_DT_child",
	"properties": {
		"activities": [
			{
				"name": "CopyData2ADLS",
				"type": "Copy",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"sqlReaderQuery": {
							"value": "@concat('select * from SalesLT.',\npipeline().parameters.source_table_name)",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "ParquetSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "ParquetWriteSettings"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "ds_source_on_prem",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "ds_landing_sink",
						"type": "DatasetReference",
						"parameters": {
							"folder_name": {
								"value": "@pipeline().parameters.source_table_name",
								"type": "Expression"
							},
							"file_name": {
								"value": "@pipeline().parameters.source_table_name",
								"type": "Expression"
							}
						}
					}
				]
			},
			{
				"name": "CopyData2stg",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Wait1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "ParquetSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": false,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "ParquetReadSettings"
						}
					},
					"sink": {
						"type": "SqlServerSink",
						"preCopyScript": {
							"value": "@{concat('truncate table dbo.stg_',pipeline().parameters.source_table_name)}",
							"type": "Expression"
						},
						"writeBehavior": "insert",
						"sqlWriterUseTableLock": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "ds_source_stg",
						"type": "DatasetReference",
						"parameters": {
							"folder_name": {
								"value": "@pipeline().parameters.source_table_name",
								"type": "Expression"
							},
							"file_name": {
								"value": "@pipeline().parameters.source_table_name",
								"type": "Expression"
							}
						}
					}
				],
				"outputs": [
					{
						"referenceName": "ds_sink_stg",
						"type": "DatasetReference",
						"parameters": {
							"table_name": {
								"value": "@pipeline().parameters.source_table_name",
								"type": "Expression"
							}
						}
					}
				]
			},
			{
				"name": "StoredProc_logdetails",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "StoredprocedureIncremental",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[StoreADFSystemVariables]",
					"storedProcedureParameters": {
						"dataFactoryName": {
							"value": {
								"value": "@pipeline().DataFactory",
								"type": "Expression"
							},
							"type": "String"
						},
						"pipelineName": {
							"value": {
								"value": "@pipeline().Pipeline",
								"type": "Expression"
							},
							"type": "String"
						},
						"pipelineRunId": {
							"value": {
								"value": "@pipeline().RunId",
								"type": "Expression"
							},
							"type": "String"
						},
						"triggerId": {
							"value": {
								"value": "@pipeline().TriggerId",
								"type": "Expression"
							},
							"type": "String"
						},
						"triggerName": {
							"value": {
								"value": "@pipeline().TriggerName",
								"type": "Expression"
							},
							"type": "String"
						},
						"triggerTime": {
							"value": {
								"value": "@pipeline().TriggerTime",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "ls_onprem_sql_server_AdventureWorksLT2022",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Wait1",
				"type": "Wait",
				"dependsOn": [
					{
						"activity": "CopyData2ADLS",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"waitTimeInSeconds": 10
				}
			},
			{
				"name": "Wait2",
				"type": "Wait",
				"dependsOn": [
					{
						"activity": "CopyData2stg",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"waitTimeInSeconds": 10
				}
			},
			{
				"name": "StoredprocedureIncremental",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Wait2",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": {
						"value": "@concat('dbo.',pipeline().parameters.stored_proc_name)",
						"type": "Expression"
					}
				},
				"linkedServiceName": {
					"referenceName": "ls_onprem_sql_server_AdventureWorksLT2022",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "sendemail",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "CopyData2ADLS",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"method": "POST",
					"headers": {
						"content": "application/json"
					},
					"url": "https://prod-21.southindia.logic.azure.com:443/workflows/84fa616792a441aa8c5ed3b83f2ed1f9/triggers/When_a_HTTP_request_is_received/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2FWhen_a_HTTP_request_is_received%2Frun&sv=1.0&sig=vpzN3qG9RnciDDyKGfzUtfEO2D78yK_tVXuD7jDN29g",
					"body": {
						"value": "{\n    \"pipelineName\": \"@{pipeline().Pipeline}\",\n    \"DataFactoryName\": \"@{pipeline().DataFactory}\",\n    \"triggerName\": \"@{pipeline().TriggerName}\",\n    \"TriggerID\": \"@{pipeline().TriggerId}\",\n    \"errorMsg\": \"@{activity('CopyData2ADLS').error.Message}\"\n}",
						"type": "Expression"
					}
				}
			},
			{
				"name": "sendemail_copy1",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "CopyData2stg",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"method": "POST",
					"headers": {
						"content": "application/json"
					},
					"url": "https://prod-21.southindia.logic.azure.com:443/workflows/84fa616792a441aa8c5ed3b83f2ed1f9/triggers/When_a_HTTP_request_is_received/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2FWhen_a_HTTP_request_is_received%2Frun&sv=1.0&sig=vpzN3qG9RnciDDyKGfzUtfEO2D78yK_tVXuD7jDN29g",
					"body": {
						"value": "{\n    \"pipelineName\": \"@{pipeline().Pipeline}\",\n    \"DataFactoryName\": \"@{pipeline().DataFactory}\",\n    \"triggerName\": \"@{pipeline().TriggerName}\",\n    \"TriggerID\": \"@{pipeline().TriggerId}\",\n    \"errorMsg\": \"@{activity('CopyData2ADLS').error.Message}\"\n}",
						"type": "Expression"
					}
				}
			},
			{
				"name": "sendemail_copy2",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "StoredprocedureIncremental",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"method": "POST",
					"headers": {
						"content": "application/json"
					},
					"url": "https://prod-21.southindia.logic.azure.com:443/workflows/84fa616792a441aa8c5ed3b83f2ed1f9/triggers/When_a_HTTP_request_is_received/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2FWhen_a_HTTP_request_is_received%2Frun&sv=1.0&sig=vpzN3qG9RnciDDyKGfzUtfEO2D78yK_tVXuD7jDN29g",
					"body": {
						"value": "{\n    \"pipelineName\": \"@{pipeline().Pipeline}\",\n    \"DataFactoryName\": \"@{pipeline().DataFactory}\",\n    \"triggerName\": \"@{pipeline().TriggerName}\",\n    \"TriggerID\": \"@{pipeline().TriggerId}\",\n    \"errorMsg\": \"@{activity('StoredprocedureIncremental').error.Message}\"\n}",
						"type": "Expression"
					}
				}
			}
		],
		"parameters": {
			"name": {
				"type": "string"
			},
			"source_db_name": {
				"type": "string"
			},
			"source_table_name": {
				"type": "string"
			},
			"landing_zone_path": {
				"type": "string"
			},
			"landing_zone_folder": {
				"type": "string"
			},
			"landing_zone_file": {
				"type": "string"
			},
			"stored_proc_name": {
				"type": "string"
			}
		},
		"folder": {
			"name": "End2EndDatatransfer"
		},
		"annotations": []
	}
}