pipeline/pl_seperate_empty_nonempty_folders.json
{
	"name": "pl_seperate_empty_nonempty_folders",
	"properties": {
		"activities": [
			{
				"name": "GetFolder_Names",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "ds_getfolderNames",
						"type": "DatasetReference"
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "BinaryReadSettings"
					}
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "GetFolder_Names",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('GetFolder_Names').output.childItems",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Getfilenames",
							"type": "GetMetadata",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"dataset": {
									"referenceName": "ds_fileNmaes",
									"type": "DatasetReference",
									"parameters": {
										"folder_name": {
											"value": "@item().name",
											"type": "Expression"
										}
									}
								},
								"fieldList": [
									"childItems"
								],
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "BinaryReadSettings"
								}
							}
						},
						{
							"name": "If Condition1",
							"type": "IfCondition",
							"dependsOn": [
								{
									"activity": "Getfilenames",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"expression": {
									"value": "@empty(activity('Getfilenames').output.childItems)",
									"type": "Expression"
								},
								"ifFalseActivities": [
									{
										"name": "Append variable2",
										"type": "AppendVariable",
										"dependsOn": [],
										"userProperties": [],
										"typeProperties": {
											"variableName": "NonEmptyFolders",
											"value": {
												"value": "@item().name",
												"type": "Expression"
											}
										}
									}
								],
								"ifTrueActivities": [
									{
										"name": "Append variable1",
										"type": "AppendVariable",
										"dependsOn": [],
										"userProperties": [],
										"typeProperties": {
											"variableName": "Empty_Folders",
											"value": {
												"value": "@item().name",
												"type": "Expression"
											}
										}
									}
								]
							}
						}
					]
				}
			},
			{
				"name": "Copy data1",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "ForEach1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"additionalColumns": [
							{
								"name": "EmptyFolders",
								"value": {
									"value": "@{variables('Empty_Folders')}",
									"type": "Expression"
								}
							},
							{
								"name": "NonEmptyFolders",
								"value": {
									"value": "@{variables('NonEmptyFolders')}",
									"type": "Expression"
								}
							}
						],
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"sink": {
						"type": "SqlServerSink",
						"writeBehavior": "insert",
						"sqlWriterUseTableLock": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "EmptyFolders",
									"type": "String"
								},
								"sink": {
									"name": "empty_folders",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "NonEmptyFolders",
									"type": "String"
								},
								"sink": {
									"name": "non_empty_folders",
									"type": "String",
									"physicalType": "varchar"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "ds_source_empty_non_empty_folders",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "ds_sink_folder_details",
						"type": "DatasetReference"
					}
				]
			}
		],
		"variables": {
			"Empty_Folders": {
				"type": "Array"
			},
			"NonEmptyFolders": {
				"type": "Array"
			}
		},
		"annotations": [],
		"lastPublishTime": "2024-10-02T08:20:52Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}